<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCATUS</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://js.stripe.com/v3/"></script>
    <script src='/js/complete.js' defer></script>
</head>

<body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %> 
    <main class="container mt-5">
        <%- include('../partials/flash') %>  
        <div class="row">
            <div class="col-sm-8 col-md-8 col-md-offset-4 col-sm-offset-3 mx-auto">
                <h1>Thanks for your order! Your payment has been processed successfully.</h1>                
                <p>Details of your purchase are as below:</p>
            </div>
            <div class="row">
                <div class="card mb-3 mx-auto col-8">
                    <ul class="list-group d-flex justify-content-between">
                        <% for(let resource of resources){ %> 
                        <li class="list-group-item d-flex justify-content-evenly">
                            <strong><%=resource.price_data.product_data.name%></strong>
                            <span class="label label-success">Each Item: $<%=resource.price_data.unit_amount/100%></span>
                            <span class="badge bg-primary">Qty: <%=resource.quantity%></span>
                            <span class="label label-success">Item Subtotal: $<%=(resource.price_data.unit_amount/100)*resource.quantity%></span>
                        </li>
                        <% } %> 
                    </ul>
                    <div class="col align-self-end">
                        <strong>Total: $<%=totalPrice%></strong>
                    </div>

                    <% if(!currentUser) {%>
                        <div class="card mb-3 mx-auto col-8">
                            <p>The link to your files are as follows: </p>
                            <% for(let resource of resources){ %>
                                <li class="list-group-item d-flex justify-content-evenly">
                                    <strong><%=resource.price_data.product_data.name%></strong>
                                    <a class="btn btn-primary" href=<%=resource.file%>>Download</a>
                                </li>
                            <% } %> 
                        </div>
                    <% } else { %>
                        <p>Your downloads are in your account's purchase history. Please go there to download your new files.</p>
                    <% } %>
                </div>
                
            </div>
            <div class="row">
                <div class="mb-3 mx-auto col-8 ms-auto">
                    
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src='/js/validateForms.js'></script>   
</body>

</html>

